@import "fonts.scss";
@import "normalize.scss";
@import "mixins.scss";

$bg: #bf2738;

a {
  text-decoration: none;
  color: #262633;
}

ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Golos";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #262633;
}

._container {
  max-width: 1320px;
  margin: auto;
  overflow-x: hidden;
}

.header_menu,
.header_img-logo-none {
  display: none;
}
.header_menu {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width:100%;
}
.header_burger {
  padding-top: 8px;
  cursor: pointer;
}
.header_navlink_burger {
  display: block;
  text-align: center;
  font-size: 26px;
  margin: 10px;
}
.close_wrapper
{
  max-width: 320px;
  text-align: right;
  margin: auto;
  padding-top:10px;
}
.header_close {
  text-align: right;
  cursor: pointer;
  width: 10px;
  margin: auto;
  padding-bottom: 5px;
  color: cadetblue;
  font-weight: 500;
  display: inline-block;
  font-size:24px;
  
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 14px 15px 0px 15px;
  user-select: none;

}
.nav-header {
  width: 514px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body {
  font-family: "Golos";
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: #262633;
}

//header
.header_navlink {
  font-style: normal;
  font-size: 15px;
}
.header_search-ravno {
  white-space: nowrap;
}
.header_search {
  display: inline-block;
  margin: 0px 11px 0px 11px;
  cursor: pointer;
}

.header_right-block {
  flex: 0 1 510px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_connection {
  width: 132px;
}
.header_tel {
  font-weight: 500;
  white-space: nowrap;
}

.header_email {
  font-family: "Graphik";
  font-size: 14px;
  line-height: 19px;
  color: #797986;
}

.header_button {
  background-color: $bg;
}

.button {
  font-family: "RoadRadio";
  font-size: 14px;
  line-height: 52px;
  color: #ffffff;
  width: 190px;
  cursor: pointer;
  border-radius: 14px;
  text-align: center;
}

//Главаня и контакты
.under-header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 29px 0px 0px 0px;
}
.under-header_main {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #797986;
  padding-top: 6px;
  cursor: pointer;
}
.under-header_contacts {
  padding-top: 6px;
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: rgba(121, 121, 134, 0.5);
  cursor: pointer;
}

.under-header_point {
  margin: 0px 12px 0px 12px;
  display: inline-block;
  font-size: 12px;
}

//MAIN

//CONTACTS

.main_header {
  text-align: center;
  @include font("RoadRadio", 46px, 400, #262633, 16px, 1320px);
  padding: 62px 0px 0px 0px;
}

// ФОРМА И ДАННЫЕ

.form {
  display: flex;
  justify-content: space-between;
  padding: 108px 0px 0px 0px;
}
.form_text {
  flex: 0 1 506px;
  padding: 0px 0px 0px 16px;
}
.form_title-telephon {
  font-family: "RoadRadio";
  font-size: 36px;
  line-height: 40px;
  @include font("RoadRadio", 36px, 400, #262633, 40px, 1320px);
}

.form_link-email {
  font-size: 25px;
  line-height: 30px;
  color: #bf2738;
  cursor: pointer;
}

.form_data {
  font-size: 13px;
  line-height: 20px;
  color: #808080;
}

.form_br-none {
  display: none;
}
.form_data-bank {
  padding: 20px 0px 0px 0px;
}
.form_title-name {
  font-size: 17px;
  line-height: 23px;
  padding: 21px 0px 13px 0px;
}
.form_input {
  flex: 0 1 630px;
  margin-right: 14px;
  & .form_textarea,
  .form_data-input {
    @include placeholder {
      font-size: 16px;
      opacity: 1;
      color: #797986;
    }
  }
}
.form_data-input {
  line-height: 50px;
  width: 300px;
  padding: 4px 0px 0px 20px;
  border-radius: 14px;
}
.form_data-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 26px 0px;
}
.form_textarea {
  height: 133px;
  width: 100%;
  padding: 20px 0px 0px 20px;
  border-radius: 14px;
  resize: none;
}

.form_header {
  border-radius: 14px;
  @include font("RoadRadio", 36px, 400, #262633, 40px, 1320px);
}

.form_check {
  padding: 21px 0px 29px 0px;
}
.form_input-checkbox {
  display: flex;
  font-size: 13px;
  line-height: 16px;
  color: #808080;
  & a {
    color: #000;
    font-weight: 500;
  }
  & #form_checkbox {
    background: #f5f5f5;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  & span {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
  }
}

.form_submit {
  cursor: pointer;
  display: block;
  background-color: $bg;
  & #submit {
    display: none;
  }
}
.form_required {
  visibility: hidden;
}
.proverka {
  display: none;
}

.map {
  padding: 66px 0px 0px 0px;
}
.map img {
  width: 100%;
}

//city

.city {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 215px 0px 0px 0px;
  align-items: stretch;
}

.city_block {
  flex: 0 1 300px;
  height: 310px;
  margin-bottom: 30px;
  padding: 30px 0px 0px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.city_titile {
  font-family: "RoadRadio";
  font-size: 26px;
  line-height: 110%;
  padding: 0px 0px 17px 0px;
}

.city_phone {
  font-size: 19px;
  line-height: 28px;
}

.city_adress {
  font-size: 14px;
  line-height: 20px;
  color: #797986;
  padding: 10px 0px 6px 0px;
}
.city_go {
  color: #bf2738;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}

.city_time-work {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 41px;
}

.city_novosibirsk {
  flex: 0 1 630px;
}

//footer

.footer
{
  display:flex;
  padding:68px 0px 0px 0px;
}
.left,.right
{
  width:50%;
  background-color:#222225;
  padding:40px 0px 44px 0px;
}

.left_wrapper
{
  text-align: left;
  max-width: 537px;
  margin:auto;
}
.left_list
{
 display:flex;
 justify-content:space-between;
 flex-direction: column;
 height: 189px;
 padding:22px 0px 0px 0px;
}
.left_li
{
font-size: 29px;
line-height: 34px;
color: #FFFFFF;
padding:0px 0px 0px 0px;
@include font('Golos',24px,400,#FFFFFF,34px,1320px);
 & :hover
{
  color:#F23147;
} 
}


.left_links
{
font-family: 'Akzidenz-Grotesk Pro';
font-size: 16px;
line-height: 29px;
color: #797986;
 &:hover
 {
  color:#FFFFFF;
 }
}

.left_footer_links
{
  padding:68px 0px 0px 0px;
  display:flex;
  flex-wrap: wrap;
}
.left_links
{
  margin:0px 27px 0px 0px;
}
//end left
.right
{
  background-color:#2A2A2E;
}


.right_wrapper
{
  max-width: 507px;
  margin:auto;
  padding:23px 0px 0px 0px;
}

.right_connect
{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  
}

.rigth_phone
{
font-weight: 500;
font-size: 30px;
line-height: 39px;
color: #FFFFFF;
padding:0px 0px 11px 0px;
@include font('Golos',30px,500,#fff,39px,$screen:1320px)
}


.right_email
{
font-size: 24px;
line-height: 34px;
color:#F23147;
padding-top:8px;
}

.right_addres
{
font-family: 'Akzidenz-Grotesk Pro';
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
padding:98px 0px 0px 0px;
max-width: 450px;
}

.right_button
{
  border:2px solid #494950;
 }
//end right

.footer_botom
{
  display:flex;
  justify-content:space-between;
  align-items:center;
  
  border-top:2px solid #494950;
}

.footer_wrapper
{
width:50%;
font-weight: 400;
font-family: 'Akzidenz-Grotesk Pro';
font-size: 14px;
line-height: 14px;
color: #797986;
padding:20px 0px 30px 0px;
}

.footer_wrap_left{ background-color:#222225;}
.footer_wrap_right {background-color:#2A2A2E;}
.left_bottom
{
 
  max-width:537px;
  margin:auto;

}

.right_bottom
{
  background-color:#2A2A2E;
  max-width:507px;
  margin:auto;
  & span
  {
    color:#fff;
  }
}





@media (max-width: 1210px) {
  .header_logotip {
    margin: 0px 50px 0px 50px;
  }

  .form_input {
    margin-right: 0;
  }
  .form_text {
    padding-left: 0;
  }

  .city {
    justify-content: flex-start;
  }

  .city_block {
    margin: 0px 24px 0px 33px;
  }
}

@media (max-width: 1100px) {
  .header_link_3 {
    display: none;
  }
  .nav-header {
    justify-content: space-around;
  }

  .form_data-input {
    height: 60px;
    width: 350px;
    margin-bottom: 10px;
    padding-top: 0px;
  }
  .form_data-wrapper {
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 1px;
    align-items: flex-start;
  }
  .left_wrapper,
  .right_wrapper
  {
    padding-left:20px;
  }

  .right_connect
  {
    flex-wrap: wrap;
    padding-right: 20px;
  }
  .right_bottom,
  .left_bottom,
  .footer_wrap_left,
  .footer_wrap_right
  {
    padding-right: 20px;
    
  }
  .footer_wrap_left,
  .footer_wrap_right
  {
    padding-left:10px;
  }
}

@media (max-width: 980px) {
  .header_button-block {
    display: none;
  }
  .city_block {
    justify-content: space-around;
  }

  .right_addres
  {
    padding-right: 20px;
  }
 
}

@media (max-width: 768px) {
  .header_img-logo-none {
    display: block;
  }
  .header_img-logo {
    display: none;
  }

  .header_burger {
    width: 23px;
  }
  .header_burger img {
    width: 100%;
  }
  .main_header {
    font-size: 32px;
    padding-top: 37px;
  }
  .under-header {
    padding: 24px 0px 5px 0px;
  }
  .form {
    padding-top: 68px;
  }
  .form_text {
    padding-left: 30px;
  }
  .form_input {
    margin-left: 72px;
  }

  .form_title-name {
    font-size: 14px;
    line-height: 20px;
    padding: 21px 0px 21px 0px;
  }
  .form_br-del {
    display: none;
  }
  .form_br-none {
    display: block;
  }
  .form_title-email {
    padding: 8px 0px 0px 0px;
  }
  .form_check {
    padding: 52px 0px 31px 0px;
  }
  .left_li
  {
    font-size:20px;
  }
}

@media (max-width: 730px) {
  .header_link_2 {
    display: none;
  }

  .city {
    padding-top: 20px;
  }
}

@media (max-width: 690px) {
  .form {
    display: block;
    padding-left: 30px;
  }
  .form_text {
    padding-left: 0;
  }

  .form_input {
    margin: 50px 0px 0px 0px;
  }
}

@media (max-width: 620px) {
  .city_novosibirsk {
    & span {
      display: block;
    }
  }

  .city_novosibirsk .city_time-work {
    position: static;
    margin-top: 30px;
  }
.footer, .footer_botom
{
  display:block;
}

.left,.right
{
  width:100%;
}

.footer_wrapper {
}
.footer_wrap_left 
{
  width: 100%;
  background-color:#2A2A2E;
}
.left_bottom {
}
.footer_wrap_right 
{
  width:100%;
  
}
.right_bottom {
}
.right_span {
}
.footer_wrapper
{
  padding-bottom:0px;
  padding-top:5px;
}
}


@media (max-width: 560px) {
  .header_navlink {
    display: none;
  }
  .header_navlink_burger
  {
    display: block;
  }

  .header_connection {
    display: none;
  }

  .right_addres
  {
    padding-top:20px;
  }
}
@media (max-width: 380px) {
  .form {
    width: 287px;
    padding-left: 12px;
  }

  .righ
  {
    padding-top:20px;
  }
  .header_img-logo-none {
    display: none;
  }
  .header_img-logo {
    display: block;
    width: 67.03px;
    height: 40px;
    margin: 0px 0px 0px 0px;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  .header_burger {
    margin: 10px 0px 0px 0px;
  }
  .header {
    align-items: flex-start;
    padding: 10px 0px 0px 0px;
  }
  .header_right-block {
    align-self: center;
  }
  .main_header {
    font-size: 22px;
    padding-top: 43px;
  }
}
@media (max-width: 320px) {
  .right_span
{
  color:#F23147;
}




}


